*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    background-color: beige;
    background-image: url(images/backg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 250px 20px 250px;
    background-color: rgba(215, 4, 4, 0.995);
    height: 70px;
    border-radius: 40px;
    color: #ffffff;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: #ffffff solid 1px;
    border-radius: 16px;
    margin: 40px 200px 40px 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
}
.list div{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: red solid 1px;

}
.list2{
    -moz-box-flex: 5.0;
    -webkit-box-flex: 5.0;
    -ms-flex: 9.0;
    box-flex: 9.0;
}
.between{
    border: 0.px solid #b2b5b6;
    margin-left: 50px;
    margin-right: 40px;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.list1{
    display: flex;
    justify-content: space-evenly;
}
.center{
    background-color: red;
    color: #ffffff;
    border: red solid 2px;
    border-radius: 50%;
    padding-left: 30px;
    padding-right: 30px;
}