*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(images/soccer-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
header{
    background: url("images/logo.png") 0px no-repeat;
    background-color: rgba(0, 0, 0, 0.461);
    height: 70px;
    line-height: 70px;
    width: 100%;
    color: #ffffff;
}

.mockups{
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.mockups h4{
    font-size: 600;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 35px;
}
ul h3 {
    line-height: 70px;
    padding-left: 10px;
}
.popover, .pipover, .login{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    display: none;
    background-color:  rgba(0, 0, 0, 0.461);
    
    border: 1px solid none;
    border-radius: 1px;
}
.match:hover > .popover,
.live:hover > .pipover,
.Login:hover > .login{
    display: block;
}

.Login h5{
    padding-left: 15px;
}
.home{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}
a:hover,
.live:hover,
.match:hover,
.login:hover,
.Login:hover{
    color: #f98900;
}
.home h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
a{
    color: #ffffff;
    text-decoration: none;
}